body{
    font-family: ubuntu, sans-serif;
    box-sizing: border-box;
    background-color: #ddd;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.navbar{
    left: 0;
    right: 0;
    display: flex;
}

.navbar h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar #logo{
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.navbar #logo:hover{
    color: grey;
}

.navbar a{
    color: black;
    font-size: 1rem;
    position: relative;
    margin-left: 74px;
    padding-top: 40px;
    font-weight: normal;
    text-decoration: none;
    font-family: ubuntu, sans-serif;
}

.navbar a:hover{
    color: rgb(63, 137, 198);
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .drop-btn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 12px;
    background-color: inherit;
    font-family: inherit;
    margin-top: 30px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: steelblue;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}

header{
    text-align: center;
    font-size: 30px;
    font-family: ubuntu, sans-serif;
    margin: 5px;
    padding: 5px;
}

h3{
    color: black;
    font-size: 30px;
    font-family: ubuntu, sans-serif;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]{
    background-color: steelblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: monospace, sans-serif;
}
input[type=submit]:hover{
    background-color: black;
    color: white;
}

.container{
    border-radius: 6px;
    padding: 30px;
    border: 2px solid black;
    width: 450px;
    margin-left: 365px;
}

p{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

input.end{
    margin-left: 556px;
    background-color: steelblue;
    margin-top: 20px;
}