{% extends 'layout.html' %}
{% block content %}
<div class="about" id="ab">
    <h3>About us</h3>
    <p>
      Massive disorientation of cards and files have been observed in most
      hospital, where patients have to come very early in the morning to
      drop their cards, make a queue before their files are being sorted out
      and assembles to see a doctor not minding their seveirity of most
      cases.
    </p>
    <p>
      Hence, the creation of this website to aid in curbing this problem by
      means of enabling patients have their database inputed on the website
      and they won't have to come early to summit cards and be on a queue
      for a long time just to get their files before seeing a doctor. They
      book online and when they intend to see a doctor, they book and get a
      time for an appointment.
    </p>
    <p>
      This website assists in saving time, having easy access to doctor, and
      patients could even have a one on one online consultation if there is
      no need for physical examination with their doctor, incase they can't
      make it to the hospital easy booking and proper organization in
      hospital.
    </p>
  </div>
</div>
{% endblock content %}
